---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 16px;
}

body {
	background: $bgColor;
  font: 100 1em $fontStack;
  color: $bodyColor;
  margin: 2em auto;
  max-width: 1005px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $fontStack;
  color: $bodyColor;
  font-weight: 500;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  a {
    color: $lightBodyColor;
  }

  @include tablet {
    line-height: 1.4;
  }
}

h1 {
  font-size: 1.2em;
  margin-bottom: 1.3em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.9em;
}

p {
  margin: 0.8em 0;
}

a {
  color: $aColor;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $bodyColor;
  }
  -webkit-transition: filter 0.3s ease, color 0.3s ease;
     -moz-transition: filter 0.3s ease, color 0.3s ease;
      -ms-transition: filter 0.3s ease, color 0.3s ease;
       -o-transition: filter 0.3s ease, color 0.3s ease;
          transition: filter 0.3s ease, color 0.3s ease;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: 500;
}

img, video {
  max-width: 100%;
  border-radius: 0.7em;
  padding: 0.2em;
}

table {
  margin-bottom: 1.5em;

  td {
    padding: 0.2em 0.2em;
  }
}

.container {
  width: 825px;
  margin-left: 180px;

  @include tablet {
    width: 90%;
    margin: 5%;
  }
}

.entry {
  margin: 0.8em 0;
}

.date {
  font-weight: 100;
  font-size: 0.8em;
  color: $lightBodyColor;
}

// home page adjustments

.filter {
  -webkit-transition: filter 0.3s ease;
     -moz-transition: filter 0.3s ease;
      -ms-transition: filter 0.3s ease;
       -o-transition: filter 0.3s ease;
          transition: filter 0.3s ease;
  -webkit-filter: grayscale(100%) blur(5px);
          filter: grayscale(100%) blur(5px);

  @include tablet {
    -webkit-filter: grayscale(0%) blur(0px);
            filter: grayscale(0%) blur(0px);
  }
}

.filter:hover {
  -webkit-filter: grayscale(0%) blur(0px);
          filter: grayscale(0%) blur(0px);
}

.thumb {
  width: 20%;
  float: left;

  @include tablet {
    width: 25%;
  }

  @include mobile {
    width: 50%;
  }
}

// about page adjustments

.about {
  width: 50%;
  float: left;
  display: block;

  @include mobile {
    width: 100%;
  }
}

.filter:last-child .about {
  -webkit-transform: scale(-1, 1);
     -moz-transform: scale(-1, 1);
       -o-transform: scale(-1, 1);
          transform: scale(-1, 1);

  @include mobile {
  -webkit-transform: scale(1, -1);
     -moz-transform: scale(1, -1);
       -o-transform: scale(1, -1);
          transform: scale(1, -1);
  }
}



// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $selColor;
  background: $selBgColor;
}
::selection {
  color: $selColor;
  background: $selBgColor;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  position: fixed;
  width: 170px;
  padding: 0 25px;
  float: left;
  display: inline;
  text-align: right;

  @include tablet {
    text-align: center;
    float: none;
    width: 100%;
    position: static;
  }
}

.site-name {
  margin: 0;
  font-weight: 500;
  text-transform: none;
}

nav {
  padding: 0.3em 0;
  margin: 1em 0;
  text-transform: lowercase;

  @include tablet {
    float: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 1em;
    padding: 0.3em 0;
    list-style: none;
  }
}

//
// .main
//

.page {
  h1 {
    text-transform: none;
  }
}

.posts > .post {
  padding-bottom: 1em;
  border-bottom: 1px solid $borderColor;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {

  h1 {
    margin: 1.3em 0 0 0;
    position: relative;
    top: -0.1em;
    text-transform: none;
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $lightBodyColor;
    padding: 0.1em 1em;
    color: $lightBodyColor;
    font-size: 1.4em;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 1em;
  }
}

.wrapper-footer {
  margin-top: 50px;
}

.footer {
  padding: 20px 0;
  text-align: center;
  text-transform: lowercase;
  line-height: 2;

  a {
    margin: 0.5em;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
