
//
// VARIABLES
//

// Colors
$bgColor: #fcfcfc;
$bodyColor: #555;
$lightBodyColor: #666;
$aColor: #999;
$selColor: #fcfcfc;
$selBgColor: #555;
$borderColor: #eee;

// Font stacks
$fontStack: Futura, Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1020px) {
    @content;
  }
}
