
//
// VARIABLES
//

// Colors
$bgColor: #fcfcfc;
$bodyColor: #555;
$lightBodyColor: #666;
$aColor: #999;
$selColor: #fcfcfc;
$selBgColor: #555;
$borderColor: #eee;

// Font stacks
//$fontStack: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Helvetica, Arial, sans-serif;
$fontStack: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1020px) {
    @content;
  }
}
