@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,500;1,300&display=swap');

//
// VARIABLES
//

// Colors
$bgColor: #fcfcfc;
$bodyColor: #555;
$lightBodyColor: #666;
$aColor: #999;
$selColor: #fcfcfc;
$selBgColor: #555;
$borderColor: #eee;

// Font stacks
$fontStack: Ubuntu, Calibri, 'DejaVu Sans', 'Noto Sans', source-sans-pro, sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1020px) {
    @content;
  }
}
