---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="posts">

  {% for post in site.tags[page.tag] %}
    <article class="post">

      <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% for tag in post.tags %}
        <a style="margin-left: 1em;font-size: 0.7em;" href="{{ baseurl }}/projects/{{ tag }}">#{{tag}}</a>
      {% endfor %}
      </h1>

      <div class="date">
        {{ post.date | date: "%Y" }}
      </div>

      <div class="entry">
        <p>{{ post.description }}</p>
      </div>

      <a href="{{ post. url | relative_url}}"><img src="{{ site.baseurl }}/media{{ post. url}}preview.jpg"/></a>

    </article>
  {% endfor %}

</div>
