---
layout: default
---

<h1>{{ page.title }}</h1>

<div class="posts">

  {% for post in site.categories[page.category] %}
    <article class="post">

      <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% for tag in post.tags %}
        <a class="tag" href="/tag/{{ tag }}">#{{tag}}</a>
      {% endfor %}
      </h1>

      <div class="date">
        {{ post.date | date: "%Y" }}
      </div>

      <div class="entry">
        <p><i>{{ post.description }}</i></p>
        {{ post.excerpt }} 
      </div>

      <a href="{{ post. url | relative_url}}">
        {% if page.category != "blog" %}
        <img src="/media{{ post.url }}preview.jpg"/>
        {% endif %}
      </a>

    </article>
  {% endfor %}

</div>
